.christmas-string {
  stroke: var(--christmas-string);
}
.light-base {
  fill: var(--christmas-string);
}
.christmaslights-svg {
  margin-top: 1em;
}
.christmas-hat {
  position: absolute;
  transform: translate(-100%, -80px);
}