:root {
  --scrollcol: #b0b0b0;
  --bgcol-main: #eff7ff;
  --textcol-main: #333333;
  --bgcol-header: #eeeeee;
  --iconcol-theme: #242424;
  --textcol-a: #454e61;
  --textcol-a-hover: #5f6a83;
  --selection: #a1c7ff70;
  --bgcol-footer: #dbdbdb;
  --bgcol-slideimgs: #e2e6eb;
  --bgcol-slidetext: #e2e6eb50;
  --textcol-slidetext: #1d1d1d;
  --fillcol-slidearrow: #333333;
  --bgcol-creators: #e2e6eb;
  --bgcol-membercard: #d7d9db;
  --textcol-membertitle: #666666;
}


/* sun icon */
.theme-circle {
  transform: translate(5px, 5px) scale(0.5);
}

.theme-sunray {
  transform-origin: 5px 5px;
}

.raypiece {
  transform: translate(4.75px, 0.25px);
}

.theme-button .s1 {
  transform: rotate(0deg);
}
.theme-button .s2 {
  transform: rotate(45deg);
}
.theme-button .s3 {
  transform: rotate(90deg);
}
.theme-button .s4 {
  transform: rotate(135deg);
}
.theme-button .s5 {
  transform: rotate(180deg);
}
.theme-button .s6 {
  transform: rotate(225deg);
}
.theme-button .s7 {
  transform: rotate(270deg);
}
.theme-button .s8 {
  transform: rotate(320deg);
}

.theme-moonmask {
  transform: translate(0px, 0px) scale(0);
}
.sunrays {
  opacity: 1;
}

/*x="4.75" y="0.25"*/