.slide-arrow.left {
  left: 0px;
  transform: translate(2px, 100px) rotate(-45deg);
}
.slide-arrow.right {
  transform: translate(98px, 100px) rotate(-225deg);
}
.icon-img {
  width: 7em;
  height: 7em;
}
.header h1 {
  font-size: 5em;
}
.theme-button {
  width: 7em;
}
.member-card {
  padding: 20px;
}
.member-card img {
  height: 10em;
}
.membertext .name {
  font-size: 2.55em;
}
.membertext .title {
  font-size: 2em;
}
.footer h2 {
  font-size: 2.5em;
}
.main-top svg {
  height: 6em;
}
.socials .sectionheader {
  font-size: 4em;
}
.socials-icon {
  height: 8em;
}
.slide-description {
  font-size: 5px;
}