@font-face {
  font-family: lato-black;
  src: url(assets/fonts/Lato-Black.ttf);
}
@font-face {
  font-family: lato-black-italic;
  src: url(assets/fonts/Lato-BlackItalic.ttf);
}
@font-face {
  font-family: lato-bold;
  src: url(assets/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato-bold-italic;
  src: url(assets/fonts/Lato-BoldItalic.ttf);
}
@font-face {
  font-family: lato;
  src: url(assets/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: lato-italic;
  src: url(assets/fonts/Lato-Italic.ttf);
}

html, body {
  background-color: var(--bgcol-main);
  color: var(--textcol-main);
  font-family: lato;
  margin: 0;
  padding: 0;
  border: 0px;
  height: 100%;
  overflow: overlay;
  overflow-x: hidden;
  cursor: default;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

/*
 ▄▄▄                           ▄▄▄                     
  ██                            ██                     
  ██▄▀█▄  ▄█▀▀▀█▄   ▀▀▀█▄    ▄█▀██   ▄█▀▀▀█▄  ▀█▄█▀█▄  
  ██  ██  ██▀▀▀▀▀  ▄█▀▀██   ██  ██   ██▀▀▀▀▀   ██  ▀▀  
  ██  ██  ██   ▄▄  ██  ██   ██  ██   ██   ▄▄   ██      
 ▀▀▀  ▀▀   ▀▀▀▀▀    ▀▀▀ ▀▀   ▀▀▀ ▀▀   ▀▀▀▀▀   ▀▀▀▀
 */

.header {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  background-color: var(--bgcol-header);
  align-items: center;
  padding: 2.5px;
  padding-bottom: 3px;
}

.header h1 {
  font-family: lato-bold !important;
  height: fit-content;
  margin-left: 5px;
}

.icon-img {
  height: 3.5em;
  width: 3.5em;
  image-rendering: optimizeQuality;
}

.theme-button {
  width: 10em;
  margin-top: 10em;
  background-color: rgb(143, 143, 143);
  fill: var(--iconcol-theme);
}





::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollcol);
  border-radius: 5px;
}